/* --------------------------------------------Imported Google fonts */
/* font-family: 'Roboto', serif; */
/* font-family: 'Playfair Display', serif; */

/* --------------------------------------------Reset html styling */
/* setting colour scheme */
:root {
  --first-colour: #7272af;
  --second-colour: #f5f5f5;
  --third-colour: pink;
  --button-bg-colour: #327a35;
  --text-main-colour: #272626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: roboto;
  letter-spacing: 1px;
  color: inherit;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: var(--text-main-colour);
  letter-spacing: 1px;
  font-size: 2.5rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: var(--text-main-colour);
  letter-spacing: 1px;
}

p {
  font-family: 'Lato', sans-serif;
  color: var(--text-main-colour);
}

header {
  background-color: var(--first-colour);
  /* width: 100%; */
}

body {
  background-color: var(--second-colour);
  min-width: 200px;
}

footer {
  background-color: var(--first-colour);
  width: 100%;
  position: fixed;
  bottom: 0;
}


main {
  max-width: 1200px;
  margin: 0 auto;
}

label {
  font-family: 'Lato', sans-serif;
}

/* -------------------------------------------- NAVIGATION bar */

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-list {
  text-transform: uppercase;
  margin-bottom: 0px;
}

.nav-list .nav-list-item {
  display: inline-block;
  padding: 5px 20px 5px 0;
}

.nav-container a {
  color: var(--second-colour);
  height: 40px;
}

.nav-container a:hover {
  color: #ff668e;
}

.current-page {
  text-decoration: underline;
  text-underline-position: under;
}

.logo {
  z-index: 1;
}

.logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px 0 0 25px;
}

.menu-icon {
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: var(--second-colour);
}

.fold-menu {
  display: none;
}

.nav-list-item span {
  display: block;
}

/* -------------------------------------------- Home page HERO design */
.home-hero {
  position: relative;
  background-color: var(--first-colour);
  background-image: url(../images/home/hero-lg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 20%;
  text-align: center;
  height: 600px;
}

.home-hero div {
  border-radius: 10px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff4f799;
  margin-top: 20px;
  padding: 20px;
  min-width: 300px;
}

.home-hero a {
  max-width: fit-content;
  font-size: 1em;
  background-color: var(--second-colour);
  border-radius: 10px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.hero-text a {
  background-color: var(--button-bg-colour);
  color: var(--second-colour);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-products:hover {
  color: #ff668e;
}

/* -------------------------------------------- Home page REVIEWS pane */

.home-review {
  /* display: block; */
  background-color: var(--second-colour);
  padding: 0 0 20px 0;
  overflow: hidden;
}

.home-review h2 {
  text-align: center;
  padding: 15px;
}

.review-pane {
  display: flex;
  margin-bottom: 90px;
}

.review {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: var(--text-main-colour);
  font-family: 'Lato', sans-serif;
}

.review h4 {
  margin-bottom: 5px;
  font-family: 'Playfair Display', sans-serif;
}

.review p {
  background-color: #9E9EB344;
  border-radius: 5px 15px 5px 15px;
  padding: 5px;
}

/* -------------------------------------------- Products-FAQ-Contact */

.page-intro {
  max-width: 600px;
  padding-top: 60px;
  margin: 0 auto;
}

.page-intro p {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

/* -------------------------------------------- Footer bar design */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.footer-item-1 {
  text-align: center;
  padding-left: 15px;
}

.footer-item-1 p {
  margin-top: 10px;
  color: var(--second-colour);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.sign-up {
  padding: 7px 7px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: white;
  font-weight: 600;
  color: #727297;
  letter-spacing: 0.2mm;
}


.footer-item-2 ul {
  display: flex;
  color: var(--second-colour);
  padding: 10px 0;
}

.footer-item-2 ul li {
  padding: 0 10px;
  font-size: 1.5rem;
}

.social a {
  color: var(--second-colour);
}


.footer-item-1 a:hover {
  color: #ff668e
}

.social a:hover {
  color: #ff668e;
}

/* ------------------PRODUCTS----------------------*/

.page-intro h1,h2 {
  z-index: 2;
  text-align: center;
}

.product-offer p {
  padding: 10px 15px;
  text-align: center;
}

.display-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 10px;
  margin-bottom: 100px;
}

.display-item {
  max-width: 300px;
  /* overflow: hidden;
  align-self: center; */
  justify-self: center;
  text-align: center;
}

.display-item img {
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display-item h3 {
  padding: 15px;
  text-align: left;
}

/* ------------------FAQ----------------------*/

.faq-intro {
  z-index: 2;
  text-align: center;
}

.faq-item {
  padding: 20px 20px 5px 20px;
}

.faq-item h3 {
  text-transform: uppercase;
}

.main-faq {
  padding-bottom: 100px;
}

/* ------------------Contact----------------------*/
.contact-container {
  max-width: 600px;
  padding-top: 60px;
  padding-bottom: 100px;
  margin: 0 auto;
}

input, textarea{
  font-size: 16px;
  padding: 2px;
}

.newsletter {
  background-color: #f7ecee;
  margin: 5px;
  border-radius: 10px;
}

.newsletter,
.contact {
  text-align: center;
  padding: 0 10px;
}

.newsletter h1 {
  margin-bottom: 5px;
}
.contact {
  padding: 0 10px 60px 10px;
}

.newsletter form {
  padding-bottom: 1rem;
}

.contact form {
  padding-top: 10px;
  padding-bottom: 0.5rem;
  margin-top: 20px;
}

.contact-button {
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  background-color: var(--button-bg-colour);
  color: var(--second-colour);
  margin-top: 10px;
  border-radius: 5px;
}

form input[type=submit] {
  padding: 5px;
}

.form-control {
  background-color: rgba(158, 158, 179, 0.267);
  border-radius: 5px;
}

.form-control label {
  display: block;
  padding-bottom: 5px;
}

.form-control input {
  line-height: 1.5rem;
}

.form-control input,
textarea {
  width: 70%;
}

.form-control textarea {
  resize: vertical;
  max-height: 500px;
  min-height: 200px;
}

.form-control-response h4 {
  padding: 20px 0;
}

.page-intro span {
  font-size: 1.5rem;
  padding-bottom: 10px;
  display: block;
}

/* RESPONSIVE design section------------------------------------------------------*/

/* -------------------------------------------- Navigtion bar RESPONSIVE design */
@media all and (max-width: 600px) {
  .nav-container {
    display: flex;
    position: relative;
    font-size: 1.2rem;
  }

  .fold-menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 10px;
  }

  .nav-list {
    width: 100%;
    text-align: center;
    padding-left: 0;
    display: none;
    background-color: var(--first-colour);
  }

  .nav-list .nav-list-item {
    display: block;
    padding: 5px 0 5px 0;
    margin: 0;
    border-top: 1px solid white;
  }

  .nav-list-item div {
    text-align: center;
  }
    
  .active {
    display: block;
  }

  .logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 20px;
    margin-top: 20px;
    z-index: 2;
  }
}

/* -------------------------------------------- Home page REVIEWS pane RESPONSIVE design */
@media all and (max-width: 600px) {
  .review-pane {
    display: flex;
    flex-direction: column;
  }
}

/* -------------------------------------------- Products page RESPONSIVE design */
@media all and (max-width: 800px) {
.display-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
}


@media all and (max-width: 700px) {
  .display-container {
    grid-template-columns: repeat(1, 1fr);
  }
  }

/* -------------------------------------------- Footer bar RESPONSIVE design */
@media all and (max-width: 600px) {
  .footer-item-1 a {
    padding: 5px;
    /* display: none; */
  }

  .footer-container {

    justify-content: space-between;
  }

  .footer-item-2 {
    text-align: right;
  }

  .footer-item-2 ul li {
    padding: 5px 10px;
  }
}

/* -------------------------------------------- Pages content RESPONSIVE arrangement */
/* -------------------------------------------- Products-FAQ-Contact */

@media all and (max-width: 600px) {
  .page-intro {
    max-width: 600px;
    padding-top: 40px;
    margin: 0 auto;
    overflow: hidden;
  }
}