/* --------------------------------------------Reset html styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  :root {
    --first-colour: #7272af;
    --second-colour: #fff4f7;
    --third-colour: pink;
  }
  
  
  /* -------------------------------------------- Navigtion bar */
  .navbar {
    background-color: var(--first-colour);
    /* color:aliceblue; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-list {
    list-style-type: none;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
    /* text-align: left; */
  }
  
  .nav-list .nav-list-item {
    display: inline-block;
    padding-right: 10px;
  }
  
  
  .navbar a {
    color: var(--second-colour);
    text-decoration: none;
    padding-left: 20px;
  }
  
  .navbar a:hover {
    color: #ff668e;
  }
  
  .logo img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  
  .menu-icon {
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background-color: var(--second-colour);
  }
  
  .fold-menu {
    display: none;
  }



  /* -------------------------------------------- Navigtion bar responsive design */
@media all and (max-width: 600px) {
    .navbar {
      /* display: flex; */
      flex-direction: column;
      position: relative;
    }
  
    .fold-menu {
      display: block;
      position: absolute;
      right: 15px;
      top: 50px;
    }
  
    .nav-list {
      list-style-type: none;
      width: 100%;
      text-align: center;
      padding-top: 10px;
      padding-left: 0;
      display: none;
    }
  
    .nav-list .nav-list-item {
      display: block;
      border-top: 1px solid white;
    }
  
    .logo-container {
      width: 100%;
    }
  
    .active {
      display: block;
    }
  
  }